* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 2vh;
}

body {
    display: grid;
    justify-content: center;
    min-height: 70vh;
  }
  
    main {
      width: 80vw;
      padding: 8em;
    }
    
    main:hover {
      box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }

    p {
        display: grid;
        justify-content: center;
        margin: 2vh;
    }

    h6 {
        margin: 1vh;
        text-align: center;
        }